[submodule "vendors/DZYapDatabase"]
	path = vendors/DZYapDatabase
	url = git@github.com:dezinezync/DZYAPDatabase.git
[submodule "vendors/YapDatabase"]
	path = vendors/YapDatabase
	url = git@github.com:dezinezync/YapDatabase.git
